<form method="POST" action="/books/<%= @book.id %>">
    <input type="hidden" name="_method" value="PATCH">

    <label for="title">Title</label>
    <input type="text" name="title" value="<%= @book.title %>"></input>
    
    <label for="snippet">Snippet</label>
    <input type="text" name="snippet" value="<%= @book.snippet %>"></input>
    
    <label for="author_id">author_id</label>
    <select name="author_id">
        <% @authors.each do |author| %>
            <% if author.id == @book.author_id %>
                <option selected="selected" value="<%= author.id %>"><%= author.name %></option>
            <% else %>
                <option value="<%= author.id %>"><%= author.name %></option>
            <% end %>
        <% end %>
    </select>
    
    <input type="submit" value="Edit Book">
</form>