<h1>New Bagel</h1>

<% if @bagel.errors.any? %>
  <div class='error-box'>
    <h2><%= @bagel.errors.count %> errors</h2>
    <ul>
      <% @bagel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@bagel) do |form| %>
  <%# <div class="field"> %>
    <%= form.label :name %>
    <%= form.text_field :name %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%= form.label :price %>
    <%= form.number_field :price %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%= form.label :special %>
    <%= form.check_box :special %>
  <%# </div> %>

  <%# <div class="actions"> %>
    <%= form.submit %>
  <%# </div> %>
<% end %>

<%= link_to 'Back', bagels_path %>
